#main_box{
	border: 0spx solid black;
	width: 934px;
	height: 586px;
	margin-left: 20px;
	margin-top: 20px;
	background-image: url('bg.png');
	position: relative;
}
#hero_status{
	height: 50px;
	width: 170px;
	border: 1px solid #23FB8E;
	position: absolute;
	top: 240px;
	left: 75px;
}
#enemy_status{
	height: 50px;
	width: 170px;
	border: 1px solid #23FB8E;
	position: absolute;
	top: 290px;
	left: 75px;
}
#nav_buttons{
	height: 191px;
	width: 113px;
	border: 0px solid black;
	position: absolute;
	top: 373px;
	left: 60px;
}
#action_buttons > button{
	width: auto;
	margin-left: 3px;
	margin-top: 9px;
}
#text_box{
	border: 1px solid #23FB8E;
	width: 520px;
	height: 339px;
	visibility: visible;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
}
#map_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 390px;
	visibility: hidden;
	position: absolute;
	top: 0;
	background-image: url('map.png');
}
#status_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 390px;
	visibility: hidden;
	position: absolute;
	top: 0;
}
#action_buttons{
	height: 40px;
	width: 530px;
	border: 1px solid #23FB8E;
	position: absolute;
	margin-top: 350px;
	top: 0;
}
#nav_buttons > img{
	padding-top: 5px;
}
#content_box{
	position: relative;
	border: 0px solid black;
	top: 105px;
	left: 310px;
}
body{
	background-color: #211C20;
	color: #23FB8E;
}
