#main_box{
	border: 0spx solid black;
	width: 934px;
	height: 586px;
	margin-left: 20px;
	margin-top: 20px;
	background-image: url('img/bg.png');
	position: relative;
}
#hero_status{
	height: 30px;
	width: 150px;
	padding: 10px;
	border: 1px solid #23FB8E;
	position: absolute;
	top: 240px;
	left: 75px;
}
#enemy_status{
	height: 30px;
	width: 150px;
	padding: 10px;
	border: 1px solid #23FB8E;
	position: absolute;
	top: 290px;
	left: 75px;
}
#nav_buttons{
	height: 191px;
	width: 113px;
	border: 0px solid black;
	position: absolute;
	top: 373px;
	left: 60px;
}
#nav_buttons > img{
	padding-top: 5px;
}
#action_box{
	border: 1px solid #23FB8E;
	width: 520px;
	height: 329px;
	visibility: visible;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#action_buttons{
	height: 40px;
	width: 530px;
	border: 1px solid #23FB8E;
	position: absolute;
	margin-top: 350px;
	top: 0;
}
#action_buttons > img{
	width: auto;
	margin-left: 15px;
	margin-top: 9px;
}
#map_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 390px;
	visibility: hidden;
	position: absolute;
	top: 0;
	background-image: url('img/map.png');
}
#city_map_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 390px;
	visibility: hidden;
	position: absolute;
	top: 0;
	background-image: url('img/city_map.png');
}
#shop_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 390px;
	visibility: hidden;
	position: absolute;
	top: 0;
}
#shop_box > div{
	border: 1px solid #23FB8E;
	position: absolute;
	padding: 5px;
}
#npc_name_box{
	top: 10px;
	left: 10px;
	width: 140px;
	height: 20px;
}
#phrase_box{
	top: 10px;
	left: 170px;
	width: 338px;
	height: 50px;
}
#npc_inv_box{
	top: 80px;
	left: 10px;
	width: 498px;
	height: 220px;
	overflow: hidden;
}
#shop_info_box{
	top: 320px;
	left: 10px;
	width: 498px;
	height: 50px;
}
#stats_box{
	border: 1px solid #23FB8E;
	width: 520px;
	height: 339px;
	visibility: hidden;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
}
#stats_buttons{
	height: 40px;
	width: 530px;
	border: 1px solid #23FB8E;
	position: absolute;
	margin-top: 350px;
	top: 0;
}
#stats_buttons > img{
	width: auto;
	margin-left: 15px;
	margin-top: 9px;
}
#hero_box{
	border: 1px solid #23FB8E;
	width: 510px;
	height: 329px;
	visibility: hidden;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding: 10px;
}
#special_box > a{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#special_box > p{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#special_box{
	width: 247px;
	height: 170px;
	border: 1px solid #23FB8E;
}
#info_box{
	width: 247px;
	height: 144px;
	margin-top: 12px;
	border: 1px solid #23FB8E;
}
#info_box > p{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#skills_box{
	width: 247px;
	height: 327px;
	border: 1px solid #23FB8E;
	float: right;
}
#inv_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 349px;
	visibility: hidden;
	position: absolute;
	top: 0;
}
#stuff_box > a{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#stuff_box > p{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#stuff_box{
	top: 10px;
	left: 10px;
	width: 247px;
	height: 328px;
	border: 1px solid #23FB8E;
	position: absolute;
	overflow: hidden;
}
#item_info_box{
	top: 10px;
	left: 271px;
	width: 247px;
	height: 220px;
	border: 1px solid #23FB8E;
	position: absolute;
}
#item_info_box > p{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#equip_box{
	top: 243px;
	left: 271px;
	width: 247px;
	height: 94px;
	border: 1px solid #23FB8E;
	position: absolute;
}
#statistics_box{
	border: 1px solid #23FB8E;
	width: 520px;
	height: 339px;
	visibility: hidden;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
}
#settings_box{
	border: 1px solid #23FB8E;
	width: 300px;
	height: 300px;
	visibility: hidden;
	position: absolute;
	top: 0;
}
#content_box{
	position: relative;
	border: 0px solid black;
	top: 105px;
	left: 310px;
}
body{
	background-color: #211C20;
	color: #23FB8E;
}
.brackets{
	color: #DBD56B;
}
.price{
	position: absolute;
	left: 50%;
}
.item_box{
	position: relative;
}
.item:hover{
	cursor: pointer;
	color: #19B564;
}
.bb {
	left:80%;
	border: 1px solid #23FB8E;
	background-color: #21EF85;
	color: #001709;
	position: absolute;
}
#b1{
	bottom: 15%;
}
#b10{
	top: 15%;
}
.bb:hover{
	cursor: pointer;
	background-color: #19B564;
	color: #001709;
}
#shop_item_info_box{
	width: 400px;
}

div.map_icon span{
	visibility: hidden;
	width: 120px;
	background-color: #21EF85;
	color: #001709;
	text-align: center;
	padding: 2px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}
div.map_icon:hover span {
	visibility: visible;
	opacity: 1;
}
div.map_icon{
	position: absolute;
}
#rock{
	top: 80px;
	left: 85px;
}
#city{
	top: 330px;
	left: 440px;
}
#ruined_city{
	top: 210px;
	left: 410px;
}

#shop{
	top: 130px;
	left: 240px;
}

#shop2{
	top: 260px;
	left: 230px;
}

#shop3{
	top: 95px;
	left: 425px;
}

a:hover{
	cursor: default;
}
p:hover{
	cursor: default;
}
img:hover{
	cursor: pointer;
}
#buy_button{
	top: 50px;
	left: 10px;
	width: 65px;
	padding-left: 5px;
}
#sell_button{
	top: 50px;
	left: 90px;
	width: 65px;
	padding-left: 5px;
}
