#main_box{
	border: 0spx solid black;
	width: 934px;
	height: 586px;
	margin-left: 20px;
	margin-top: 20px;
	background-image: url('bg.png');
	position: relative;
}
#hero_status{
	height: 30px;
	width: 150px;
	padding: 10px;
	border: 1px solid #23FB8E;
	position: absolute;
	top: 240px;
	left: 75px;
}
#enemy_status{
	height: 30px;
	width: 150px;
	padding: 10px;
	border: 1px solid #23FB8E;
	position: absolute;
	top: 290px;
	left: 75px;
}
#nav_buttons{
	height: 191px;
	width: 113px;
	border: 0px solid black;
	position: absolute;
	top: 373px;
	left: 60px;
}
#nav_buttons > img{
	padding-top: 5px;
}
#action_box{
	border: 1px solid #23FB8E;
	width: 520px;
	height: 329px;
	visibility: visible;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
#action_buttons{
	height: 40px;
	width: 530px;
	border: 1px solid #23FB8E;
	position: absolute;
	margin-top: 350px;
	top: 0;
}
#action_buttons > img{
	width: auto;
	margin-left: 15px;
	margin-top: 9px;
}
#map_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 390px;
	visibility: hidden;
	position: absolute;
	top: 0;
	background-image: url('img/map.png');
}
#map_box > img{
	position: absolute;
}
#map_box > img:hover{
	width: 45px;
	height: 45px;
}
#ruined_city{
	top: 210px;
	left: 410px;
}
#rock{
	top: 80px;
	left: 80px;
}
#stats_box{
	border: 1px solid #23FB8E;
	width: 520px;
	height: 339px;
	visibility: hidden;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
}
#stats_buttons{
	height: 40px;
	width: 530px;
	border: 1px solid #23FB8E;
	position: absolute;
	margin-top: 350px;
	top: 0;
}
#stats_buttons > img{
	width: auto;
	margin-left: 15px;
	margin-top: 9px;
}
#hero_box{
	border: 1px solid #23FB8E;
	width: 510px;
	height: 329px;
	visibility: hidden;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding: 10px;
}
#special_box > a{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#special_box > p{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#special_box{
	width: 247px;
	height: 170px;
	border: 1px solid #23FB8E;
}
#info_box{
	width: 247px;
	height: 144px;
	margin-top: 12px; 
	border: 1px solid #23FB8E;
}
#info_box > p{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#skills_box{
	width: 247px;
	height: 327px;
	border: 1px solid #23FB8E;
	float: right;
}
#inv_box{
	border: 1px solid #23FB8E;
	width: 530px;
	height: 349px;
	visibility: hidden;
	position: absolute;
	top: 0;
	overflow: hidden;
}
#inv_box > p{
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#inv_box > p:hover{
	text-decoration: underline;
}
#statistics_box{
	border: 1px solid #23FB8E;
	width: 520px;
	height: 339px;
	visibility: hidden;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
}
#settings_box{
	border: 1px solid #23FB8E;
	width: 300px;
	height: 300px;
	visibility: hidden;
	position: absolute;
	top: 0;
}
#content_box{
	position: relative;
	border: 0px solid black;
	top: 105px;
	left: 310px;
}
body{
	background-color: #211C20;
	color: #23FB8E;
}
